/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;

  li.nav-item,
  li.toggle-container {
    display: flex;
    align-items: center;
  }

  li.toggle-container {
    padding-top: 0;
    padding-left: 0;
  }

  a.navbar-brand.title,
  a.navbar-brand.title span {
    font-size: 1.6rem;
    font-family: $font-family-serif;

    @media (max-width: 500px) {
      font-size: 1.4rem;
    }
  }

  img.navicon {
    max-height: 1.7rem;
    width: auto;
    margin-right: 0.5rem;
  }
}

html[data-theme="dark"] {
  .homepage-img img,
  .homepage-img ~ div.clearfix > h2:last-of-type ~ p:first-of-type img {
    filter: invert(1);
  }
}

.homepage-img ~ div.clearfix > h2:not(:first-of-type),
h2#selected-sources {
  margin-top: 3rem;
}

.homepage-img ~ div.clearfix h3#your-favourite-historians-favourite-historian {
  margin-bottom: 2rem;
}

.homepage-img ~ div.clearfix > h3 ~ p:first-of-type {
  margin: 0;
  display: inline-flex;
  float: left;

  img {
    height: 15rem;
    width: auto;
    border-radius: 47%;
    border: 3px double #000;
    margin: 1rem 1.5rem 0 1.5rem;
    filter: sepia(0.2);
  }

  @media (max-width: 500px) {
    float: unset;

    img {
      height: unset;
      width: 100%;
    }
  }
}

img.cats {
  width: auto;
  height: 13rem;
  float: right;
  display: flex;
  max-height: 13rem;

  @media (max-width: 570px) {
    height: 10rem;
    max-height: 10rem;
  }
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

.homepage-img {
  min-width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: none;
  -webkit-box-shadow: none;

  img {
    border-radius: 0;
  }
}

.row.max-15 {
  max-height: 15rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.form-control {
  border: 1px solid var(--global-divider-color);
  border-radius: 0;
}

.bootstrap-table .fixed-table-container.fixed-height:not(.has-footer),
.bootstrap-table .fixed-table-container.fixed-height .table thead th,
.table-bordered td,
.table-bordered th {
  border-bottom: 1px solid var(--global-divider-color);
}

.table-bordered td,
.table-bordered th {
  border: 1px solid var(--global-divider-color);
}

table.table thead th {
  border-top: 1px solid var(--global-divider-color);
}

.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover {
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.example swiper-slide {
  height: 34rem;
}

.example swiper-slide figure {
  height: 100%;
}

.example swiper-slide figure img {
  height: 100%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}
