/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #b24444 !default;
$red-color-dark: #932c2c !default;
$orange-color: #da912a !default;
$blue-color: #2987d5 !default;
$blue-color-dark: #102f6d !default;
$cyan-color: #2698ba !default;
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%);
$green-color: #22885c !default;
$green-color-lime: #b7d12a !default;
$green-color-dark: #155c18 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: #611777 !default;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #d3b142 !default;

$grey-color: #828282 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: #1c1c1d;
$grey-900: #212529;

$white-color: #ece8df !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;

//font
@font-face {
  font-family: 'EnglishTowne';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/EnglishTowne_2.ttf') format('ttf');
}

@mixin font-face($family, $src, $weight, $style) {
  @font-face {
    font-family: $family;
    src:
      url("#{$src}.ttf") format("woff2");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face("EnglishTowne", "../fonts/EnglishTowne_2", 100 900, normal);

$font-family-serif-fallback: "Times New Roman", Times, sans-serif;
$font-family-serif: "EnglishTowne", $font-family-serif-fallback;
